{% extends "base.html" %}
{% load static %}
{% block sheet%}

<script type="text/javascript" src="{% static 'isiForm.js' %}"></script>
	
	{% endblock sheet %}


{% block content %}


<div class="container-fluid bg-dog">

    <div class="row">
      
        <div class="col" >
        <br>
            <img class="book" src="{% static 'book.png' %}">
        </div>

    <!-- ini buat isi form -->
      <div class="col" >
      <br>
      <div class="card bg-form">
            <div class="card-body">
            <h4 class="card-title">We are here for you</h4>
            <h2 class="card-title2">BOOK APPOINTMENT</h2>
          <section name="form">
      <br>
      <form id="form" method="POST">
      {% csrf_token %}
      {{ message_form }} 
      <br>
      <button type="submit" class="btn btn-primary"> BOOK </button>
      </form>
      <br>
      </section>
      </div>
      </div>
        </div>
    </div>
    <div class="row">
    <pre>

    <pre>
    </div>

</div>


<div class="container-fluid">
    <img class="book2" src="{% static 'book2.png' %}" width="100%">
</div>


<!-- ini buat hasil form -->
<div class="container">
  <h2>My Bookings</h2>
              
  <table class="table">
    <thead>
      <tr>
        <th>Service</th>
        <th>Doctor</th>
        <th>Fullname</th>
        <th>Phone</th>
        <th>Date</th>
        <th>  </th>
      </tr>
    </thead>
    <tbody id="bookings_list_table">

    {% comment %}
     {% for h in myBookings %}
      <tr>
        <td> {{ h.service }} </td>
        <td> {{ h.doctor }} </td>
        <td> {{ h.fullname }} </td>
        <td> {{ h.phone }} </td>
        <td> {{ h.date }} </td>
        <td> <form  method="POST" action = "bayar/{{ h.id }}">
      {% csrf_token %} 
      <a class="btn" href="{% url 'payments:add_payments' %}"> KONFIRMASI PEMBAYARAN  </a>
      </form>
      </td>
      </tr>
      {% endfor %} 
      {% endcomment %}
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



<script> 

$(document).ready(function(){
    getAllData();
});


$('#form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});

{% comment %} function create_post() {
    console.log("create post is working!") // sanity check
    console.log($('#service').val())
    console.log($('#doctor').val())
    console.log($('#fullname').val())
    console.log($('#phone').val())
    console.log($('#date').val())
}; {% endcomment %}

function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "/isiForm/create_post", // the endpoint
        type : "POST", // http method
        data : { service : $('#service').val(),
        doctor : $('#doctor').val(),
        fullname : $('#fullname').val(),
        phone : $('#phone').val(),
        date : $('#date').val(), csrfmiddlewaretoken : document.getElementsByName('csrfmiddlewaretoken')[0].value}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#service').val('');
            $('#doctor').val('');
            $('#fullname').val('');
            $('#phone').val('');
            $('#date').val('');
            console.log(json); // log the returned json to the console
            getAllData();
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function getAllData() {

    $('#bookings_list_table').empty();
    $.ajax({
        type: 'GET',
        url: '/isiForm/getAllData',
        
        dataType: 'json',
        success: function (data) {
            console.log(data);
            var html = '';
            for (var i = 0; i < data.bookings.length; i++) {
                html += '<tr><td>' +
                data.bookings[i].service + '</td><td>' +
                data.bookings[i].doctor + '</td><td>' +
                data.bookings[i].fullname + '</td><td>' +                
                data.bookings[i].phone + '</td><td>' +
                data.bookings[i].date + '</td><td>' +
                '<td><form method="POST"><input type="hidden" name="csrfmiddlewaretoken" value="H6nyOc5hHqLrev4tbsoy15vs4u4g536M3dd23eeuNKdWsSBApZAOQzITbeHho8T7"><a class="btn" href="/payments/">KONFIRMASI PEMBAYARAN</a></form></td>';
            }
            $('#bookings_list_table').append(html);
        }
    });
};

</script>


{% endblock %}


