{% extends 'base.html' %}
{% load static %}

<head>
	{% block sheet%}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	{%endblock sheet%}
</head>

<body>
	{% block content%}
	<div class="row cover">
		<img class="logo" src="{% static 'cld1.jpg' %}" width="100%">
	</div>

	<div class="coltext-center">
		<h1 class="text-center" style="font-size: 48px;"><b>Apa kata mereka?</b>
		</h1>
	</div>
	<div class="row">
		<div class="col text-center">
			<div id="carousel">
			</div>
		</div>
	</div>

	<div class="col-md-12 text-center">
		<button type="button" class="btn btn-warning" id="test-button">Add Testimoni</button>

	</div>

	<div class="row cover gambar">
		<img class="logo" src="{% static 'testi up2.jpg' %}" width="100%">
	</div>

	<section id="testi">
		<div class="alert alert-success" style="display: none;" id="alert-success">
			Sukses Menambahkan data!
		</div>
		<h4 align="center" class="inputan">Form Testimoni</h4>
		<div class="testimoni-form" >
			<form method="POST" id="testimoni-form">
				{% csrf_token %}

				<div class="container">
					<div class="row">
						<div class="col-sm">
						</div>
						<div class="col-sm">
							<table align="center">
								{{ form.as_table }}
							</table>
							<table class="tombol" align="center">
								<td></td>
								<td><button type="submit" class="btn btn-success" id="add-button">Add</button>
								</td>
							</table>
						</div>
						<div class="col-sm">
						</div>
					</div>
				</div>
			</form>

		</div>
	</section>
</body>
{%endblock content%}

{% block js%}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script src="{% static 'carousel.js' %}"></script>
{% endblock %}